@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&display=swap');

body{
  background: #5E6873;
  font-family: 'Roboto Mono', monospace;
  background-size: 600% 600%;
  
  -webkit-animation: glitch 9s ease infinite;
  -moz-animation: glitch 9s ease infinite;
  animation: glitch 9s ease infinite;
}


@-webkit-keyframes glitch {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes glitch {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes glitch {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.title{
  color: #fff;
}

.form-control{
  background-color: #24232B;
  border: none;
  border-radius: 0;
  min-height: 45px;
}

.form-control:focus {
  color: #212529;
  background-color: #24232B;
  border-color: #89b492;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(137 180 146);
}
.pass-length{
  color: #a4ffaf;
}
.card{
  border-radius: 0;
  background-color: #24232B;
}

#inputpass::placeholder{
  color: #a4ffaf;
  opacity: 1; /* Firefox */
}

.author-footer{
  color: #a4ffaf;
  font-weight: 700;
  font-size: 0.9rem;
  text-align: center;
}

.form-check-input:checked {
  background-color: #a3ffac;
  border-color: #a3ffac;
}

.form-check-input:focus {
  /* border-color: #86b7fe;
  outline: 0; */
  box-shadow: 0 0 0 0.25rem rgb(164 255 175 / 25%);
}

.content-strength{
  height: 45px;
  background-color: #18171f;
}

.btn-success{
  background-color: #a4ffaf;
  border-color: #a4ffaf;
  color: #0c0b10;
  font-weight: 700;
}

.btn:hover {
  color: #a4ffaf;
  background-color: transparent;
  border-color: #a4ffaf;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: rgb(253,187,45);
background: -moz-linear-gradient(90deg, rgba(253,187,45,1) 0%, rgba(34,193,195,1) 100%);
background: -webkit-linear-gradient(90deg, rgba(253,187,45,1) 0%, rgba(34,193,195,1) 100%);
background: linear-gradient(90deg, rgba(253,187,45,1) 0%, rgba(34,193,195,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fdbb2d",endColorstr="#22c1c3",GradientType=1);
  height: 5px;
  }
  input[type=range]:focus {
  outline: none;
  }
  input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: rgb(253,187,45);
  background: -moz-linear-gradient(90deg, rgba(253,187,45,1) 0%, rgba(34,193,195,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(253,187,45,1) 0%, rgba(34,193,195,1) 100%);
  background: linear-gradient(90deg, rgba(253,187,45,1) 0%, rgba(34,193,195,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fdbb2d",endColorstr="#22c1c3",GradientType=1);
  height: 5px;
  }
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #e6e6ea;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #e6e6ea;
  cursor: pointer;
}
